/package
.DS_Store
**/.sass-cache
**/.sass-cache/*

/ruler.sublime-workspace

**/bower_components
**/bower_components/*
/public/static/app/src-build/app.js
/public/static/app/src-build/app.css

resources/
node_modules
bower_components

vagrant/.vagrant/**

.idea

app/tmp
/public/static/release/app.js
/public/static/release/app.css
/public/static/release/app.map
.*.sw*

public/static/app/css/main.css
public/static/app/css/main.css

.env
*.map
